body {
  background-color: #fffbf7;
  margin: 0;
  padding: 0;
}

.header {
    background: purple;
    display: flex;
    justify-content: space-between;
    padding: 25px ;
}

.logo img { 
    width: 800px;
    height: 400px;
}

.navbar ul {
    
    width: 800px;
    display: flex;
    justify-content: space-between;

}

.navbar ul li { 
    display: inline-block;
    font-size: 1.7rem;
    

}

.navbar ul li a {
    text-decoration: none;
    color: black;
}

.actions {
    display: inline-block;
    text-align: right;
    font-size: 25px;
}

.actions a {
    text-decoration: none;
    color: #d7f79b;
    font-weight: 800;
}

 main {
    margin: 25px 0px;
    text-align: center;
  }
  
  h1 {
    color: #46484c;
    font-size: 50px;
  }
  
  p {
    color: #8b8b8bcc;
    font-family: verdana;
    font-size: 20px;
  }
  
  strong {
    color: #3d3d3dcc;
  }
  
  form {
  }
  
  button {
    color: #fff;
    background-color: #025157;
  }
  
  .containerPromo {
    display: flex;
    justify-content: center;
    height: 400px;
    width: 100%;
  }

  .containerPromo video { 
    width: auto;
    height: auto;
    margin: 20px;
  }

  .containerPromo article {
    background: purple;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: auto;
    margin: 20px;
  }

  
.features {
    display: grid;
    /* grid-template-columns: 300px 300px; */

    /* reapeat(cantidad de columnas, tamaño) 
    grid-template-columns: repeat(3, 300px);*/

    padding-top: 100px;

    grid-template-columns: 1fr 1fr;

    grid-template-rows: repeat(2, 1fr)
}

.features article {
    width: ;
    height: 350px;
    margin: 11px 40px;
    background: green;

}



/* Tarea, 

hacer que el nav y el promo se vea como la pagina original de matcha

hacer con grid una seccion con tarjetas que esten en una cuadricula

Terminar el reto 3 de la sesion 4 y subirlo a slack


*/