body {
  background-color: #fffbf7;
  margin: 0;
  padding: 0;
}

.header {
    background: purple;
    display: flex;
    justify-content: space-between;
    padding: 25px ;
}

.logo img { 
    width: 800px;
    height: 400px;
}

.navbar ul {
    
    width: 800px;
    display: flex;
    justify-content: space-between;

}

.navbar ul li { 
    display: inline-block;
    font-size: 1.7rem;
    

}

.navbar ul li a {
    text-decoration: none;
    color: black;
}

.actions {
    display: inline-block;
    text-align: right;
    font-size: 25px;
}

.actions a {
    text-decoration: none;
    color: #d7f79b;
    font-weight: 800;
}

 main {
    margin: 25px 0px;
    text-align: center;
  }
  
  h1 {
    color: #46484c;
    font-size: 50px;
  }
  
  p {
    color: #8b8b8bcc;
    font-family: verdana;
    font-size: 20px;
  }
  
  strong {
    color: #3d3d3dcc;
  }
  
  form {
  }
  
  button {
    color: #fff;
    background-color: #025157;
  }
  
  main section img {
    width: 400px;

  }

  .containerPromo {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    padding: 100px 0;
  }

  .containerPromo video { 
    width: auto;
    height: auto;
    margin: 20px;
  }

  .containerPromo article {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: auto;
    margin: 20px;
  }

  
.features {
  background-color: rgb(2, 65, 70);
    display: grid;
    /* grid-template-columns: 300px 300px; */

    /* reapeat(cantidad de columnas, tamaño) 
    grid-template-columns: repeat(3, 300px);*/

    padding: 100px 0;

    grid-template-columns: 1fr 1fr;

    grid-template-rows: repeat(2, 1fr)

    
}

.features article {
    width: ;
    height: 250px;
    margin: 10px 20px;
    background: #fffbf7;
    display: flex;
    align-items: center;

}


/* @media (breakpoint){}

dispositivos moviles en vista viewport
@media (max-width: 575px) {}

dispositivos pequeños en vista landscape
@media (min-width: 576px and max-width: 767px) {}

dispositivos medianos tablets
@media (min-width: 768px and max-width: 991px) {}

dispositivos grandes desktop
@media (min-width: 992px and max-width: 1199px) {}

dispositivos extra grandes monitores grandes, tvs
@media (min-width: 1200 px) {}




 */



@media (max-width: 575px) {

  .navbar, .actions {

    display: none;

  }

  .containerPromo {

    text-align: center;
    /* No es necesario poner display: flex porque el original
    ya lo tenia implicado, aunque lo puedes poner si quieres
    pero seria repetir codigo */
    flex-direction: column;

  }

  .containerPromo article {
    width: auto;
  }

























}










*/